.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #198754;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    color: #198754;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.section-title {
    color: #198754;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn1 {
    display: block;
    width: 200px;
    margin: 40px auto 0;
    padding: 15px 25px;
    background-color: #198754;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.btn1:hover {
    background-color: #157347;
}

